<style type="text/css">
	.backToTop {
		display: none;
		width: 18px;
		line-height: 1.2;
		padding: 5px 0;
		background-color: #000;
		color: #fff;
		font-size: 12px;
		text-align: center;
		position: fixed;
		_position: absolute;
		right: 10px;
		bottom: 100px;
		_bottom: "auto";
		cursor: pointer;
		opacity: .6;
		filter: Alpha(opacity=60);
	}
</style>
<div id=divMenu>
	<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1577526157&site=qq&menu=yes">
		<img src="/assets/index0921_KEFU.jpg" width="26" height="110"></a></div>
<div class="header_top">
	<div class="header_top_right">
		<ul>
			<% if session[:login] %>
				<li class="text"><a href="../%E5%9C%A8%E7%BA%BF%E8%B4%AD%E4%B9%B0/%E4%BC%9A%E5%91%98%E7%99%BB%E5%BD%952" target="_self"><label id="session_username"><%= session[:username] %></label>的帐户&nbsp;</a></li>

				<li class="textblue"><a href="/memberships/logout">注销</a></li>
			<% else %>
				<li class="text">请</li>
				<li class="textblue"><a href="#" onclick="openpopup(0, true)">登录</a></li>
				<li class="text">免费
				</li><li class="textblue"><a href="#" onclick="openpopup(1, true)">注册</a></li>
			<% end %>
		</ul>
		<div id="popup_dialog" class="popup_dialog"></div>
		<div id="popup_shadow" class="popup_shadow"></div>
	</div>
</div>
<div class="header_middle">
	<div class="logo">
		<div class="logo2"><a href="/"><img src="/assets/logo.jpg" width="190" height="30"></a></div>
	</div>
	<div class="header_middle_right" >
		<div class="trolley" onclick="location.href='../在线购买/购物车'" onmouseover="displayblock()" onmouseout="displaynone()">
			<ul>	     
				<li class="item_1"><img src="/assets/index0921_trolley.jpg" width="19" height="19" /></li>
				<li class="item_2">我的购物车</li>
				<li class="item_3" id="cartamount"><% if session[:cart] %><%= session[:cart].length %><% else %>0<% end %></li>
				<li class="item_4">件</li>
				<li class="item_5">&nbsp;&nbsp;去结算</li>
				<li class="item_6"><img src="/assets/index0921_pic2.jpg" width="16" height="28" /></li>
			</ul>
			<div class="trolley_show_show" id="trolley_show_display">
				<div style="height:15px"></div>
				<div id="trolley_show_product">
					<% if session[:cart] %>
						<% session[:cart].each do |productid, amount| %>
							<div class="trolley_show_line1" name="trolley_show_product_child">
								<div><input type="hidden" id="trolley_show_productid" value=<%= "#{productid}" %> /></div>
								<div><input type="hidden" id="trolley_show_amount" value=<%= "#{amount}" %> /></div>
								<div class="trolley_show_line1_left"><img id="trolley_show_pic" width="90" height="83" /></div>
								<div class="trolley_show_line1_right">
									<div class="trolley_show_line1_top" id="trolley_show_product_name"></div>
									<div class="trolley_show_line1_bottom">	   
										<ul>
											<li class="trolley_show_rmb">￥</li>
											<li class="trolley_show_value" id="trolley_show_price"></li>
										</ul>
									</div>
								</div>
							</div>
						<% end %>
					<% end %>
				</div>

				<div class="trolley_show_line2">
					<div class="trolley_show_line2_left">目前共有<label id="cartamount"><% if session[:cart] %><%= session[:cart].length %><% else %>0<% end %></label>种产品</div>
					<div class="trolley_show_line2_mid">总价</div>
					<div class="trolley_show_line2_right">￥<label id="producttotalprice_show"></label></div>
				</div>                
			</div>
		</div>
	</div>
</div>
<!--<h1 id='logo'>
<%= link_to Refinery::Core.site_name, refinery.root_path %>
</h1>-->
<%= render(:partial => "/refinery/menu", :locals => {
	:dom_id => 'menu',
	:css => 'menu'
}) %>

<% content_for :javascripts do %>
	<script type="text/javascript">
(function() {
	var $backToTopTxt = "返回顶部", $backToTopEle = $('<div class="backToTop"></div>').appendTo($("body"))
		.text ($backToTopTxt).attr ("title", $backToTopTxt).click (function() {
		$("html, body").animate ({ scrollTop: 0 }, 120);
	}), $backToTopFun = function() {
		var st = $(document).scrollTop(), winh = $(window).height();
		(st > 0) ? $backToTopEle.show() : $backToTopEle.hide();
		//IE6下的定位
		if (!window.XMLHttpRequest) {
			$backToTopEle.css ("top", st + winh - 166);
		}
	};
	$(window).bind ("scroll", $backToTopFun);
	$(function() { $backToTopFun(); });
})();

function displayblock() {
	$('#trolley_show_display').css ('display', 'block');
}

function displaynone() {
	$('#trolley_show_display').css ('display', 'none');
}

function getproductcart_show() {       
	$('#trolley_show_product div[name="trolley_show_product_child"]').each (function() {
		var productid = $(this).find ('#trolley_show_productid').val();
		alert (productid);

		$.ajax ({
			url: "/products/" + productid + ".json",
			type: "GET",
			dataType: "json",
			context: this
		}).done (function (resp) {
			if (resp != null) {
				if (resp.product_name)
					$(this).find ('#trolley_show_product_name').html (resp.product_name);

				if (resp.product_pic)
					$(this).find ('#trolley_show_pic').prop ('src', resp.product_pic);

				if (resp.price)
					$(this).find ('#trolley_show_price').html (resp.price);

				productCount_show();
			} else {
				if (resp.description != null)
					alert (resp.description);
				else
					alert("请求失败，请再检查一遍您的输入并稍候再试");
			}
		}).fail (function() {
			alert("请求发送失败，请稍候再试");
		});
	});
}

function productCount_show() {
	var total = 0;
	var price;
	var amount;


	$('#trolley_show_product div[name="trolley_show_product_child"]').each (function() {
		price = $(this).find ('#trolley_show_price').html();
		amount = $(this).find ('#trolley_show_amount').val();			
		total += parseFloat (price) * parseInt (amount);
	});

	$('#producttotalprice_show').html (total);
}

function headerdel (productid) {
	$('#trolley_show_productid:[value=' + productid + ']').parent().parent().remove();
	productCount_show();
}

$(document).ready (getproductcart_show);

	</script>
<% end %>


